<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85897950872-0tj0duki35mgom3ndmha7b1k05fufj76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85897950872-0tj0duki35mgom3ndmha7b1k05fufj76</string>
	<key>API_KEY</key>
	<string>AIzaSyCIf_lpBGEJmUs7d5OrZohamcVoc9FWImM</string>
	<key>GCM_SENDER_ID</key>
	<string>85897950872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elifbilgeparlak.BasicSnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>basicsnapchatclone-dbe41</string>
	<key>STORAGE_BUCKET</key>
	<string>basicsnapchatclone-dbe41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85897950872:ios:95aa4d80c337c13ba1c2ed</string>
</dict>
</plist>